
#id {
    text-align: center;
    padding: 20px;
    background-color:black;
    color: white;
}

.profile-box {
    width: 50%;             
    margin: 20px auto;       
    padding: 20px;           
    border: 2px solid cyan; 
    background-color: white; 
    border-radius: 10px;     
    text-align: center;
}


.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;       
    margin-bottom: 15px;
}


h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

.bio {
    margin-top: 15px;         
    font-size: 1em;
    line-height: 1.5em;
}


footer {
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    background-color: navajowhite;
}